* {
    padding: 0;
    margin: 0;

}
html,body {
    height: 100%;
}
@font-face {
    font-family: 'FZQKBYSJW';
    src: url('../CSS/fonts/FZQKBYSJW.TTF');
}
#main {
    position: relative;
    width: 40rem;
    height: 64.375rem;
    margin: 0px auto;
    /* background-color: aqua; */
    /* background: url("/CSS/img/bg.jpg") no-repeat; */
    background: url("../CSS/img/bg.png") no-repeat;
    background-position: 0px -3rem;
    background-size: 108%;
    overflow: hidden;
}
img {
    position: absolute;
    width: .7994rem;
    bottom: 15.625rem;
    left: 1.25rem;
}

#wool {
    position: absolute;
    width: 24rem;
    height: 18.025rem;
    /* background-color: aquamarine; */
    background: url("../CSS/img/wool.png") no-repeat;
    background-size: 100%;
    top: 3.125rem;
    left: 0;
    animation: wool 1s  linear infinite;
}
#light {
    position: absolute;
    width: 10rem;
    height: 8.3688rem;
    /* background-color: aquamarine; */
    background: url("../CSS/img/light.png") no-repeat;
    background-size: 100%;
    right: .3125rem;
    animation: blink 1s linear infinite;
}

/* 背景羊毛和玻璃光动画 */
@keyframes wool {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-2deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}
@keyframes blink {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-2deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}


#head {
    position: absolute;
    width: 24rem;
    height: 7.0806rem;
    /* background-color: cadetblue; */
    background: url("../CSS/img/head.png") no-repeat;
    background-size: 100%;
    top: 8.25rem;
    right: 3.4375rem;
    z-index: 1;
}
/* #head p {
    position: absolute;
    font-size: 60px;
    font-family: "STHupo";
    top: 20%;
    left: 20%;
} */
#subtitle {
    position: absolute;
    width: 11.5994rem;
    height: 7.0806rem;
    /* background-color: burlywood; */
    background: url("../CSS/img/subtitle.png") no-repeat;
    background-size: 100%;
    top: 15.9375rem;
    left: 4.375rem;
    z-index: 1;
}
#yg {
    position: absolute;
    width: 38rem;
    height: 52.1431rem;
    /* background-color: bisque; */
    background: url("../CSS/img/yg.png") no-repeat;
    background-size: 100%;
    background-position: 0px -11.5625rem;
    bottom: 0;
    right: 0;
}
#yg li {
    /* float: left; */
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style: none;
}
#yg li:hover {
    transform: scale(1.1);
    -webkit-tap-highlight-color: transparent;
}
#c1 {
    width: 21.28rem;
    height: 35.9787rem;
    /* background-color: brown; */
    background: url("../CSS/img/1.png");
    top: 7.75rem;
    right: -20.125rem;
    /* left: 10%; */
    animation: c1 1s ease;
    animation-fill-mode: forwards;
}
#c2 {
    width: 17.8594rem;
    height: 31.8075rem;
    /* background-color: blueviolet; */
    background: url("../CSS/img/2.png");
    top: 10.25rem;
    right: -17.1875rem;
    animation: c2 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#c3 {
    width: 19.3794rem;
    height: 31.2856rem;
    /* background-color: blue; */
    background: url("../CSS/img/3.png");
    background-position-x: -9.25rem;
    top: 7.625rem;
    right: -19.625rem;
    animation: c3 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

/* 衣服动画效果 */
@keyframes c1 {
    0%{right: -20.125rem;}
    100%{right: 12.75rem;}
}
@keyframes c2 {
    0%{right: -17.1875rem;}
    100%{right: 2.9375rem;}
}
@keyframes c3 {
    0%{right: -19.625rem;}
    100%{right: -9.3125rem;}
}

#sheep {
    position: absolute;
    width: 12.4rem;
    height: 9.6563rem;
    /* background-color: bisque; */
    background: url("../CSS/img/click.png") no-repeat;
    background-size: 100%;
    bottom: 0px;
    left: 1.25rem;
}

#btn {
    position: absolute;
    width: 8.7994rem;
    height: 9.0125rem;
    border-radius: 50%;
    /* border: 5px solid black; */
    /* background-color: #CCBB94; */
    background: url("../CSS/img/start.png") no-repeat;
    background-size: 100%;
    bottom: 1.9375rem;
    right: 3.125rem;
    transform-origin: 50% 49%;
    animation: btn 5s linear infinite;
    animation-direction: alternate;
}

#begin {
    position: absolute;
    width: 6.4rem;
    height: 5.7938rem;
    border-radius: 50%;
    /* background-color: aquamarine; */
    background: url("../CSS/img/begin.png") no-repeat;
    background-size: 91%;
    background-position: center;
    bottom: 3.75rem;
    right: 4.4375rem;
}
#begin a {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    display: inline-block;
    width: 3.5194rem;
    height: 2.6069rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5625rem;
    color: black;
    /* line-height: 90px; */
    font-weight: 700;
    top: 1.25rem;
    left: 1.5rem;
    font-family: "FZQKBYSJW";
}

/* 按钮动画效果 */
@keyframes btn {
    100%{transform: rotate(360deg) scale(1.1);}
}
