* {
    padding: 0;
    margin: 0;

}
html,body {
    height: 100%;
}
@font-face {
    font-family: 'FZQKBYSJW';
    src: url('../CSS/fonts/FZQKBYSJW.TTF');
}
#main {
    position: relative;
    width: 10rem;
    height: 16.0938rem;
    margin: 0px auto;
    /* background-color: aqua; */
    /* background: url("/CSS/img/bg.jpg") no-repeat; */
    background: url("../CSS/img/bg.png") no-repeat;
    background-position: 0px -.75rem;
    background-size: 108%;
    overflow: hidden;
}
img {
    position: absolute;
    width: .1998rem;
    bottom: 3.9063rem;
    left: .3125rem;
}

#wool {
    position: absolute;
    width: 6rem;
    height: 35.7563rem;
    /* background-color: aquamarine; */
    background: url("../CSS/img/wool.png") no-repeat;
    background-size: 100%;
    top: .7813rem;
    left: 0;
    animation: wool 1s  linear infinite;
}
#light {
    position: absolute;
    width: 2.5rem;
    height: 2.0922rem;
    /* background-color: aquamarine; */
    background: url("../CSS/img/light.png") no-repeat;
    background-size: 100%;
    right: .0781rem;
    animation: blink 1s linear infinite;
}

/* 背景羊毛和玻璃光动画 */
@keyframes wool {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-2deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}
@keyframes blink {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-2deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(2deg);}
    100%{transform: rotate(0deg);}
}


#head {
    position: absolute;
    width: 6rem;
    height: 1.7703rem;
    /* background-color: cadetblue; */
    background: url("../CSS/img/head.png") no-repeat;
    background-size: 100%;
    top: 2.0625rem;
    right: .8594rem;
    z-index: 1;
}
/* #head p {
    position: absolute;
    font-size: 60px;
    font-family: "STHupo";
    top: 20%;
    left: 20%;
} */
#subtitle {
    position: absolute;
    width: 2.9rem;
    height: 1.7703rem;
    /* background-color: burlywood; */
    background: url("../CSS/img/subtitle.png") no-repeat;
    background-size: 100%;
    top: 3.9844rem;
    left: 1.0938rem;
    z-index: 1;
}
#yg {
    position: absolute;
    width: 9.5rem;
    height: 13.0359rem;
    /* background-color: bisque; */
    background: url("../CSS/img/yg.png") no-repeat;
    background-size: 100%;
    background-position: 0px -2.8906rem;
    bottom: 0;
    right: 0;
}
#yg li {
    /* float: left; */
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style: none;
}
#yg li:hover {
    transform: scale(1.1);
    -webkit-tap-highlight-color: transparent;
}
#c1 {
    width: 5.32rem;
    height: 8.9953rem;
    /* background-color: brown; */
    background: url("../CSS/img/1.png");
    top: 1.9375rem;
    right: -5.0313rem;
    /* left: 10%; */
    animation: c1 1s ease;
    animation-fill-mode: forwards;
}
#c2 {
    width: 4.4656rem;
    height: 7.9519rem;
    /* background-color: blueviolet; */
    background: url("../CSS/img/2.png");
    top: 2.5625rem;
    right: -4.2969rem;
    animation: c2 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
#c3 {
    width: 4.8448rem;
    height: 7.8213rem;
    /* background-color: blue; */
    background: url("../CSS/img/3.png");
    background-position-x: -2.3125rem;
    top: 1.9063rem;
    right: -4.9063rem;
    animation: c3 1s ease;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

/* 衣服动画效果 */
@keyframes c1 {
    0%{right: -5.0313rem;}
    100%{right: 3.1875rem;}
}
@keyframes c2 {
    0%{right: -4.2969rem;}
    100%{right: .7344rem;}
}
@keyframes c3 {
    0%{right: -4.9063rem;}
    100%{right: -2.3281rem;}
}

#sheep {
    position: absolute;
    width: 3.1rem;
    height: 2.4141rem;
    /* background-color: bisque; */
    background: url("../CSS/img/click.png") no-repeat;
    background-size: 100%;
    bottom: 0px;
    left: .3125rem;
}

#btn {
    position: absolute;
    width: 2.2rem;
    height: 2.2531rem;
    border-radius: 50%;
    /* border: 5px solid black; */
    /* background-color: #CCBB94; */
    background: url("../CSS/img/start.png") no-repeat;
    background-size: 100%;
    bottom: .4844rem;
    right: .7813rem;
    transform-origin: 50% 49%;
    animation: btn 5s linear infinite;
    animation-direction: alternate;
}

#begin {
    position: absolute;
    width: 1.6rem;
    height: 1.4484rem;
    border-radius: 50%;
    /* background-color: aquamarine; */
    background: url("../CSS/img/begin.png") no-repeat;
    background-size: 91%;
    background-position: center;
    bottom: .9375rem;
    right: 1.1094rem;
}
#begin a {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    display: inline-block;
    width: .8797rem;
    height: .6516rem;
    text-decoration: none;
    text-align: center;
    font-size: .3906rem;
    color: black;
    /* line-height: 90px; */
    font-weight: 700;
    top: .3125rem;
    left: .375rem;
    font-family: "FZQKBYSJW";
}

/* 按钮动画效果 */
@keyframes btn {
    100%{transform: rotate(360deg) scale(1.1);}
}
